.Chat {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;

  &__title {
    margin-bottom: 4rem;
  }

  @media (max-width: 768px) {
    margin: 1rem;
  }

  &__button {
    border: 1px solid $main-contrast;
    background: transparent;
    padding: 0.25rem 0.5rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    color: $text-color;
    cursor: pointer;

    @media (max-width: 480px) {
      margin-left: 0.5rem;
      font-size: 0.9rem;
    }
  }

  &__input {
    border: 1px solid $border-color;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background: transparent;
    color: $text-color;
    width: 100%;

    &::placeholder {
      color: $text-color;
    }

    @media (max-width: 480px) {
      font-size: 0.9rem;
    }
  }

  &__form {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;

    @media (max-width: 480px) {
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  &__messages {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    row-gap: 1rem;

    @media (max-width: 480px) {
      margin-top: 1rem;
      row-gap: 0.5rem;
    }
  }

  &__message {
    padding: 0.25rem;
    border: 1px solid $border-color;

    @media (max-width: 480px) {
      font-size: 0.9rem;
    }
  }
}
