.StoreLayout {
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
  }

  &__sidebar {
    min-width: 150px;
    max-width: 200px;
    width: 100%;
    flex-shrink: 0;
    display: none;

    @media (min-width: 650px) {
      display: block;
    }
  }

  &__content {
    flex: 1;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
  }

  &__chip {
    border: 2px solid;
    border-image: $gradient 1;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
    background: none;

    &:hover {
      background: $gradient;
      color: white;
    }
  }
  &__title {
    display: grid;
    gap: 1rem;
    padding: 1rem 0;

    > * {
      button {
        width: 100%;
      }
    }

    @media (min-width: 650px) {
      display: flex;
      align-items: center;
      justify-content: space-between;

      > * {
        width: auto;
      }
    }
  }
  &__FilterSelectWrapper {
    @media (min-width: 650px) {
      display: none;
    }
  }

  &__floatingButton {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    transition: transform 0.2s;

    &:hover {
      transform: translateY(-2px);
    }
  }
}
